<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Beaver Token</key>
	<string>AAAAAAAAAAAAAAAAAAAAAC43fAEAAAAAEeIhxxeDueqeJGDWWiZMT4b68N4%3DTiedVm3mwVWDUCbRWZFwyg04V4RvAEuPzLGMX25tIEBRJ0FMMD</string>
</dict>
</plist>
